html, body {
  margin:0;
  padding: 0;
  background-color: lavenderblush;
}
.material-icons {
  font-family: 'Material Icons';
  font-size: 18px;
}
a:hover {
  border-bottom-color: transparent;
  color: #49bf9d !important;
  text-decoration: none;
}