.li {
  display: inline-block;
  margin-right: 1rem;
}
.li a {
  text-decoration: none;
  background-image: none;
  text-shadow: none;
}
.container {
  margin: 1rem auto;
  max-width: 100%;
  padding: 0 1rem;
}
.inline {
  display: inline;
  text-shadow: none;
}

.ul, .social, .copyright {
  list-style: none;
  margin: 0;
}
.social li {
  display: inline-block;
  margin-right: 1rem;
}

p {
  margin-bottom: .5rem;
}
/* Header */

.header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: -moz-flex-end;
  -webkit-align-items: -webkit-flex-end;
  -ms-align-items: -ms-flex-end;
  align-items: flex-end;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background-color: #1f1815;
  background-attachment: scroll,scroll;
  background-image: url("../images/overlay.png"), url("../images/bg.jpg");
  background-position: top left,							top left;
  background-repeat: repeat,								no-repeat;
  background-size: auto,								150%;
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  padding: 5em 2em;
  position: fixed;
  top: 0;
  width: 35%;
}

  .header > * {
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    width: 100%;
  }

  .header > .inner {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    margin: 0 0 2em 0;
  }
  .header > .inner h3 {
    color: #ddd
  }

  .avatar {
    width: 6.25em;
    height: 6.7em;
    border-radius: 100%;
  }

  /* Main */

	.main {
		margin-left: 35%;
		max-width: 54em;
		padding: 1em 4em 4em 4em;
		width: calc(100% - 35%);
	}

  .main > section {
    border-top: solid 2px #efefef;
    margin: 4em 0 0 0;
    padding: 4em 0 0 0;
  }

  .main > section:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
  }

  .social li a {
    text-decoration: none;
    background-image: none;
    text-shadow: none;
    color: rgba(255, 255, 255, 0.4);
  }
  .copyright li {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
  }

  /* XLarge */

	@media screen and (max-width: 1800px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 12pt;
			}

	}

/* Large */

	@media screen and (max-width: 1280px) {

		/* Header */

			.header {
				padding: 6em 3em 3em 3em;
				width: 30%;
			}

				.header h1 {
					font-size: 1.25em;
				}

					.header h1 br {
						display: none;
					}

				.header > .inner {
					margin-bottom: 0;
				}

		/* Footer */

			.footer .copyright li {
				border-left-width: 0;
				display: block;
				line-height: 2.25em;
				margin-left: 0;
				padding-left: 0;
			}

		/* Main */

			.main {
				margin-left: 30%;
				max-width: none;
				padding: 6em 3em 3em 3em;
				width: calc(100% - 30%);
			}

	}

/* Medium */

	@media screen and (max-width: 980px) {

		/* Basic */

			h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
				display: none;
			}

		/* List */

			ul.icons li .icon {
				font-size: 1.25em;
			}

		/* Header */

			.header {
				background-attachment: scroll;
				background-position: top left, center center;
				background-size: auto,		cover;
				left: auto;
				padding: 6em 4em;
				position: relative;
				text-align: center;
				top: auto;
				width: 100%;
				display: block;
			}

				.header h1 {
					font-size: 1.75em;
				}

					.header h1 br {
						display: inline;
					}

		/* Footer */

			.footer {
				background-attachment: scroll;
				background-color: #1f1815;
				background-image: url("../images/overlay.png"), url("../images/bg.jpg");
				background-position: top left,						bottom center;
				background-repeat: repeat,							no-repeat;
				background-size: auto,							cover;
				bottom: auto;
				left: auto;
				padding: 4em 4em 6em 4em;
				position: relative;
				text-align: center;
				width: 100%;
			}

				.footer .icons {
					margin: 0 0 1em 0;
				}

				.footer .copyright {
					margin: 0 0 1em 0;
				}

					.footer .copyright li {
						border-left-width: 1px;
						display: inline-block;
						line-height: 1em;
						margin-left: 0.75em;
						padding-left: 0.75em;
					}

		/* Main */

			.main {
				margin: 0;
				padding: 6em 4em;
				width: 100%;
			}

	}

/* Small */

	@media screen and (max-width: 736px) {

		/* Basic */

			h1 {
				font-size: 1.5em;
			}

			h2 {
				font-size: 1.2em;
			}

			h3 {
				font-size: 1em;
			}

		/* Section/Article */

			section.special, article.special {
				text-align: center;
			}

			header.major h2 {
				font-size: 1.35em;
			}

		/* List */

			ul.labeled-icons li {
				padding-left: 2em;
			}

				ul.labeled-icons li h3 {
					line-height: 1.75em;
				}

		/* Header */

			.header {
				padding: 2.25em 1.5em;
			}

				.header h1 {
					font-size: 1.35em;
				}

		/* Footer */

			.footer {
				padding: 2.25em 1.5em;
			}

		/* Main */

			.main {
				padding: 2.25em 1.5em 0.25em 1.5em;
			}

      .main > section {
        margin: 2.25em 0 0 0;
        padding: 2.25em 0 0 0;
      }

	}

/* XSmall */

	@media screen and (max-width: 480px) {

		/* Header */

			.header {
				padding: 4.5em 1.5em;
			}

      .header h1 br {
        display: none;
      }

		/* Footer */

			.footer .copyright li {
				border-left-width: 0;
				display: block;
				line-height: 2.25em;
				margin-left: 0;
				padding-left: 0;
			}

	}