.user {
  display: flex;
  align-items: center;
  margin: 0 auto 12px auto;
}

.user:last-child {
  margin-bottom: 0;
}
.avatarwrapper {
  width: 6.25em!important;
}
.avatar img {
  flex: 0 0 96px!important;
  width: 6.25em!important;
  height: 6.7em!important;
  border-radius: 100%!important;
  margin: 0!important;
}
.avatar > div {
  padding: 0!important;
}

.description {
  flex: 1;
  margin-left: 18px;
  padding: 12px;
}
.description img {
  margin: 0;
}

.username {
  margin: 0 0 12px 0;
  padding: 0;
  color: #ddd
}

.excerpt {
  margin: 0;
}